<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540282964229-q97771fv6k4gaisacst1nvov30ug39un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540282964229-q97771fv6k4gaisacst1nvov30ug39un</string>
	<key>API_KEY</key>
	<string>AIzaSyA9B2L_A798-V7VIkedxIQWsRCDzpgiYz0</string>
	<key>GCM_SENDER_ID</key>
	<string>540282964229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noimpactapplications.projectarlo</string>
	<key>PROJECT_ID</key>
	<string>arlo-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>arlo-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540282964229:ios:5c0c23c449fec648abcf6c</string>
</dict>
</plist>